:root{
    --bg-color: #F3F3F3;
}

body{
    margin: 20px 20px 20px 20px;
}

select{
    padding-left: 10px;
    padding-right: 10px;
}

.g11:hover{
    background-color: #B31312;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

textarea{
    background-color: #F5F7F8;
}
